*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
/* header and navigation styles */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
 color: #FD6E0A;;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
 /* Banner Styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;

 }
 .banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
 }
 .banner-title-first{
    font-weight: 600;
    font-size: 45px;
 }
.banner-paragraph{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
/* Description Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
.section-full{
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 131px 150px;
}
.section-title{    
        text-align: center;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 35px;
}
.section-description{
    color: #757575;
    font-weight: 400;
    font-size: 18px
}
/* About info Styles */
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    margin-top: 40px;
    text-align: center;
}
.info-title{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}